---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import { PROJECTS } from "../constants";
---

<Layout title="Welcome to Astro.">
  <main>
    <div class="flex flex-col items-center">
      <h1 class="m-0 p-0">Hi</h1>
      <h2>I'm Devon<br /> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; here is everything I've made</h2>
      <h3 class="text-sm">Software Developer (of sorts)</h3>
      <p class="w-80 text-center text-xs m-2">Realtively serious enquires for my Australian Govt Innovation Portfolio</p>
    </div>
    <div class="flex flex-col items-center">
      <div>
        <div>
          {
            PROJECTS.map((project) => {
              return project.type == "title" ? (
                <h2 class="w-full text-center text-2xl font-bold">{project.text}</h2>
              ) : (
                <div class="text-sm">
                  <p>
                    <b>Project:</b>
                    {project.project}
                  </p>
                  <p>
                    <b>Elevator Pitch:</b>
                    {project.elevatorPitch}
                  </p>
                  <p>
                    <b>Status:</b> {project.status}
                  </p>
                  <p>
                    <b>Tech:</b> {project.techStack}
                  </p>
                  <p>
                    <b>Role:</b> {project.role}
                  </p>
                  {project.link == null ? null : (
                    <p class="w-full flex items-center justify-center">
                      <a href={project.link} class="font-bold">
                        Find out more
                      </a>
                    </p>
                  )}
                  <div class="w-full flex justify-center">
                    <img class="max-h-[24rem] m-4" src={"/public/projects/" + project.imageUrl} alt={project.project} />
                  </div>
                  <hr class="p-2"></hr>
                </div>
              );
            })
          }
        </div>
      </div>
    </div>
  </main>

  <style>
    main {
      margin: auto;
      padding: 1rem;
      width: 800px;
      max-width: calc(100% - 2rem);
      color: white;
      font-size: 20px;
      line-height: 1.6;
    }
    .astro-a {
      position: absolute;
      top: -32px;
      left: 50%;
      transform: translatex(-50%);
      width: 220px;
      height: auto;
      z-index: -1;
    }
    h1 {
      font-size: 4rem;
      font-weight: 700;
      line-height: 1;
      text-align: center;
      margin-bottom: 1em;
    }
    .text-gradient {
      background-image: var(--accent-gradient);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-size: 400%;
      background-position: 0%;
    }
    .instructions {
      margin-bottom: 2rem;
      border: 1px solid rgba(var(--accent-light), 25%);
      background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
      padding: 1.5rem;
      border-radius: 8px;
    }
    .instructions code {
      font-size: 0.8em;
      font-weight: bold;
      background: rgba(var(--accent-light), 12%);
      color: rgb(var(--accent-light));
      border-radius: 4px;
      padding: 0.3em 0.4em;
    }
    .instructions strong {
      color: rgb(var(--accent-light));
    }
    .link-card-grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
      gap: 2rem;
      padding: 0;
    }
  </style>
</Layout>
