---
import { PROJECTS } from "../constants";
import Github from "../icons/Github.astro";
import Website from "../icons/Website.astro";
---

<div class="w-full xl:w-[80%] flex flex-col items-start bg-white/80 backdrop-blur-sm rounded-3xl drop-shadow-lg h-fit p-4 lg:mt-10 mt-36">

  <h2 class="text-3xl">My Projects</h2>
    <div class="flex flex-row pt-4 w-full gap-2">
		<div class="flex flex-col w-8 p-3">
			<a href="#2024" class="hover:underline">2024</a>
			<div class="border-l-2 h-full ml-4 border-black"></div>
			<a href="#2023" class="hover:underline">2023</a>
			<div class="border-l-2 h-full ml-4 border-black"></div>
			<a href="#2022" class="hover:underline">2022</a>
			<div class="border-l-2 h-full ml-4 border-black"></div>
			<a href="#2021" class="hover:underline">2021</a>
			<div class="border-l-2 h-full ml-4 border-black"></div>
			<a href="#2020" class="hover:underline">2020</a>
			<div class="border-l-2 h-full ml-4 border-black"></div>
			<a href="#2019" class="hover:underline">2019</a>
			<div class="border-l-2 h-full ml-4 border-black"></div>
			<a href="#2018" class="hover:underline"> 2018</a>
			<div class="border-l-2 h-full ml-4 border-black"></div>
			<a href="#2017" class="hover:underline">2017</a>
			<div class="border-l-2 h-full ml-4 border-black"></div>
			<a href="#2016..." class="hover:underline">2016...</a>
		</div>
    <div class="p-4 lg:p-10 2xl:p-20 overflow-y-scroll flex flex-col items-center h-[75vh] w-full ">
      {
	  PROJECTS.map((project:any) => {
		return project.type == "title" ? (
				<h2 class="w-full text-center text-2xl underline mb-8" id={`${project.text}`}>{project.text}</h2>
		) : (
			<div class="flex flex-col w-fit items-center justify-center">
				<div class="flex items-center gap-2">
					<h3 class="text-2xl">{project.project}</h3>
					{project.link == null ? null :<a class="hover:-translate-y-[2px] hover:cursor-pointer" href={project.link} target="_blank"><Website/></a> }
					{project.openSourceLink == null ? null :<a class="hover:-translate-y-[2px] hover:cursor-pointer" href={project.openSourceLink} target="_blank"><Github/></a>}
					</div>
				<h3 class="text-xl">{project.elevatorPitch}</h3>
			  {project.imageUrl !== null ?
				<img class="w-full m-4" src={"/projects" + project.imageUrl} alt={project.project} />
			  : <p class="italic p-2">No image available</p>}
			  <p class="p-2 text-xl">Stack: {project.techStack}</p>
			</div>
			<hr class="p-2 w-full"></hr>
		);
	  })
	}
    </div>
  </div>
</div>
