---
import Github from "../icons/Github";
import Website from "../icons/Website";
import ZoomIn from "../icons/ZoomIn";

const { project, index } = Astro.props;
---

{
  project.type == "title" ? (
    <h2 class="w-full text-center text-2xl underline mb-8" id={`${project.text}`}>
      {project.text}
    </h2>
  ) : (
    <div class="flex flex-col w-fit items-center justify-center h-min" id={`project-${index}`}>
      <div class="flex items-center gap-2">
        <h3 class="text-2xl">{project.project}</h3>
        {project.link == null ? (
          <p>{project.status}</p>
        ) : (
          <a class="hover:-translate-y-[2px] hover:cursor-pointer" href={project.link} target="_blank">
            <Website />
          </a>
        )}
        {project.openSourceLink == null ? null : (
          <a class="hover:-translate-y-[2px] hover:cursor-pointer" href={project.openSourceLink} target="_blank">
            <Github />
          </a>
        )}
      </div>
      <h3 class="text-xl">{project.elevatorPitch}</h3>
      {project.imageUrl !== null ? (
        <div class="relative flex items-center justify-center">
          <img loading="lazy" class={"w-full h-fit m-4 rounded-md " + project.verticalAspectRatio && project.verticalAspectRatio == true ? "w-[50%]" : ""} src={project.imageUrl} alt={project.project} />{" "}
          <astro-project data-image-url={project.imageUrl} data-index={index}>
            <button id="zoom-in" class=" text-white bottom-0 right-0 absolute m-3 bg-black/90 p-2 rounded-md">
              <ZoomIn />
            </button>
          </astro-project>
        </div>
      ) : (
        <p class="italic p-2">No image available</p>
      )}

      <p class="p-2 text-xl">Stack: {project.techStack}</p>
    </div>
  )
}
<hr class="p-2 w-full" />

<script>
  import { isLightboxOpen, lightboxImage } from "../store";
  class AstroProject extends HTMLElement {
    constructor() {
      super();
      const index = this.getAttribute("data-index");
      const imageUrl = this.getAttribute("data-image-url")?.toString();
      const projectDiv = document.getElementById(`project-${index}`);
      const button = projectDiv!.querySelector("#zoom-in");
      button!.addEventListener("click", () => {
        lightboxImage.set(imageUrl || "");
        isLightboxOpen.set(true);
      });
    }
  }

  customElements.define("astro-project", AstroProject);
</script>
