---
import { PROJECTS } from "../constants";
---
<div class="flex flex-col items-start overflow-clip bg-white/80 backdrop-blur-sm rounded-3xl drop-shadow-lg p-4">
	<h2 class="text-3xl">My Projects</h2>
	<div class="flex">
		<div class="flex flex-col justify-center h-[700px] pt-4">
			<a href="#2024">2024</a>
			<div class="border-l-2 h-full ml-4 border-black"></div>
			<a href="#2023">2023</a>
			<div class="border-l-2 h-full ml-4 border-black"></div>
			<a href="#2022">2022</a>
			<div class="border-l-2 h-full ml-4 border-black"></div>
			<a href="#2021">2021</a>
			<div class="border-l-2 h-full ml-4 border-black"></div>
			<a href="#2020">2020</a>
			<div class="border-l-2 h-full ml-4 border-black"></div>
			<a href="#2019">2019</a>
			<div class="border-l-2 h-full ml-4 border-black"></div>
			<a href="#2018">2018</a>
			<div class="border-l-2 h-full ml-4 border-black"></div>
			<a href="#2017">2017</a>
			<div class="border-l-2 h-full ml-4 border-black"></div>
			<a href="#2016">2016...</a>
		</div>
	<div class="p-10 overflow-y-scroll h-[100vh]">
	{
	  PROJECTS.map((project) => {
		return project.type == "title" ? (
		  <h2 class="w-full text-center text-2xl font-mono">{project.text}</h2>
		) : (
		  <div class="text-sm font-mono">
			<div class="w-full flex justify-center">
			  {project.imageUrl !== null ?
				<img class="max-h-[24rem] m-4" src={"/projects" + project.imageUrl} alt={project.project} />
			  : <p class="italic p-2">No image available</p>}
			</div>
			<p>
			  <b>Project:</b>
			  {project.project}
			</p>
			<p>
			  <b>Elevator Pitch:</b>
			  {project.elevatorPitch}
			</p>
			<p>
			  <b>Status:</b> {project.status}
			</p>
			<p>
			  <b>Tech:</b> {project.techStack}
			</p>
			<p>
			  <b>Role:</b> {project.role}
			</p>
			{project.link == null ? null : (
			  <p class="w-full flex items-center justify-center p-2">
				<a href={project.link} class="font-bold">
				  Find out more
				</a>
			  </p>
			)}
			<hr class="p-2"></hr>
		  </div>
		);
	  })
	}
	</div>
</div>

</div>
